# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment folder
venv/
env/

# Ignore build artifacts and distribution folders
color_palette_creator.build/
color_palette_creator.dist/
color_palette_creator.onefile-build/

# Ignore executable files
*.exe

# Ignore any log files
*.log


# Ignore editor or OS-specific files
.DS_Store
Thumbs.db

# Ignore documentation build artifacts
docs/_build/

# Ignore any temporary files or folders
*.tmp
*.temp

# Ignore GitHub configuration if it contains personal settings
.github/

# Ignore environment configuration or sensitive data (if applicable)
.env

# Ignore packed files (if UPX or other packers are used)
*.packed
